.u-section-1 .u-sheet-1 {
  min-height: 1156px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 541px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 562px;
  height: 562px;
  margin: 0 0 -30px auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 592px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 66px 186px 0 6px;
}

.u-section-1 .u-text-3 {
  margin: 45px -10px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 474px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-image-2 {
  width: 263px;
  height: 111px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 59px 1px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 26px 65px 0 345px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 474px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0 344px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 10px 1px 0 0;
}

.u-section-1 .u-image-3 {
  width: 310px;
  height: 76px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 49px 0 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 25px 33px 0 377px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    min-height: 295px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 470px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 61px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-right: -8px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 391px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 285px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 214px;
    height: 90px;
    margin-top: 42px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 15px;
    margin-left: 295px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 391px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 244px;
  }

  .u-section-1 .u-image-3 {
    width: 214px;
    height: 52px;
    margin-top: 28px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 178px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -6px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 175px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 200px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 273px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 12px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 98px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 7px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -6px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 59px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 1px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 661px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 611px;
  pointer-events: auto;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 17px 0 0;
}

.u-section-2 .u-text-2 {
  background-image: none;
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 43px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 611px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-image-1 {
  width: 283px;
  height: 346px;
  margin: 78px -11px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 635px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    margin-left: -40px;
    margin-right: -40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1041px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 257px;
  }
}